[submodule "DockPanelSuite"]
	path = DockPanelSuite
	url = https://github.com/myi-teck/dockpanelsuite.git
[submodule "SwfExtractor"]
	path = SwfExtractor
	url = https://github.com/andanteyk/SwfExtractor.git
